.sec1{
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.sec1 h2{
    font-weight: bold;
    font-size: 10px;
    padding-top: 2.5%;
}


/*
.imel{
    margin-top: 5%;
    width: 40%;
     border: 1px solid;
     border-color: #D2CCCC;
    border-radius: 5px;
}

.nama{
    margin-top: 5%;
    width: 40%;
     border: 1px solid;
     border-color: #D2CCCC;
    border-radius: 5px;
}


.pass{
    margin-top: 2%;
    width: 40%;
     border: 1px solid;
     border-color: #D2CCCC;
    border-radius: 5px;
}

.passs{
    margin-top: 2%;
    width: 40%;
     border: 1px solid;
     border-color: #D2CCCC;
    border-radius: 5px;
}

.mlebu{
    background-color: #FD7D16;
    border: none;
    border-radius: 5px;
    width: 10%;
    margin-top: 2%;
    color: white;
    text-align: center;;

}

 ::placeholder{ 
    color: #D3CCCC;
    font-size: 90%;
    position: center;
    opacity: 1;
    }





